<app-topnav></app-topnav>
<div class="album text-muted">
  <div class="container">
    <div class="row">
        <div routerLink="/product/{{product.id}}" *ngFor="let product of products, let i = index" class="card" style="cursor: pointer">
          <img data-src="{{product.thumbnailUrl}}" alt="{{product.title}}">
          <p class="card-text">{{product.title}}</p>
          <p>$12.34</p>
        </div>
      </div>
  </div>
</div>
