<app-topnav></app-topnav>
 <div class="container">
    <div class="row">
     <!--<pre>{{product|json}}</pre>-->
     <div class="card_">
          <img src="http://placehold.it/600" alt="{{product?.title}}">
          <p class="card-text">{{product?.title}}</p>
          <p>$12.34</p>
        </div>

    </div>
 </div>