<app-topnav></app-topnav>
<!--<p *ngIf="isError.length">
  <ngb-alert [dismissible]="false" type="danger">{{isError}}</ngb-alert>
</p>-->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Ponuda</h1>
    <p class="lead text-muted">Super su nam daske</p>
    <p><a routerLink="/products" class="btn btn-primary btn-lg">Pogledajte ponudu</a></p>
  </div>
</section>
<!--

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>

<template ngbModalContainer #modalForDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" 
      (click)="confirmDelete(modalForDelete); c('Iz liste')">Delete
      </button>
      <button type="button" class="btn btn-secondary" 
      (click)="c('Close click')">Cancel
      </button>
    </div>
 </template>-->
